<p>flexbox works!</p>

<div class="button-container">
    <button class="btn" mat-raised-button color="primary" (click)="showSnackBar('success')">success</button>
    <button class="btn" mat-raised-button color="accent" (click)="showSnackBar('error')">error</button>
    <button class="btn" mat-raised-button color="primary" (click)="showCustomSnackBar('success')">Custom SnackBar</button>
    <button class="btn" mat-raised-button color="accent" (click)="showCustomSnackBar('error')">Custom SnackBar</button>
</div>